@model ChickenHunt.Website.Controllers.Hunter.Actions.Index.Model
@{
    ViewBag.Title = "Hunter";
}

<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>Served chickens</h2>
        <table class="table table-condensed table-hover">
            <tr>
                <th>#</th>
                <th>Date</th>
                <th colspan="2" style="text-align: center;">Made by</th>
                <th colspan="2" style="text-align: center;">for</th>
            </tr>
            @{
                var d = DateTime.MinValue;
                var counter = 1;
            }
            @foreach (var g in Model.Games.Where(m => m.Maker1ID == Model.GetRoute().ID || m.Maker2ID == Model.GetRoute().ID))
            {
                if (d == DateTime.MinValue || d.Month != g.Date.Month)
                {
                    <tr>
                        <td colspan="6" style="background-color: gold; font-weight: bold;">@g.Date.ToString("MMM, yyyy")</td>
                    </tr>
                }
                d = g.Date;
                <tr>
                    <td>@counter.ToString("#,0")</td>
                    <td title="@g.Date">@g.Date.ToString("d")</td>
                    <td style="background-color: @(g.Maker1ID==Model.GetRoute().ID?"lightgreen":"inherit");">@g.Maker1Name</td>
                    <td style="background-color: @(g.Maker2ID==Model.GetRoute().ID?"lightgreen":"inherit");">@g.Maker2Name</td>
                    <td>@g.Recipient1Name</td>
                    <td>@g.Recipient2Name</td>
                </tr>
                counter++;
            }
        </table>
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>Received chickens</h2>
        <table class="table table-condensed table-hover">
            <tr>
                <th>#</th>
                <th>Date</th>
                <th colspan="2" style="text-align: center;">Made by</th>
                <th colspan="2" style="text-align: center;">for</th>
            </tr>
            @{
                d = DateTime.MinValue;
                counter = 1;
            }
            @foreach (var g in Model.Games.Where(m => m.Recipient1ID == Model.GetRoute().ID || m.Recipient2ID == Model.GetRoute().ID))
            {
                if (d == DateTime.MinValue || d.Month != g.Date.Month)
                {
                    <tr>
                        <td colspan="6" style="background-color: gold; font-weight: bold;">@g.Date.ToString("MMM, yyyy")</td>
                    </tr>
                }
                d = g.Date;
                <tr>
                    <td>@counter.ToString("#,0")</td>
                    <td title="@g.Date">@g.Date.ToString("d")</td>
                    <td>@g.Maker1Name</td>
                    <td>@g.Maker2Name</td>
                    <td style="background-color: @(g.Recipient1ID==Model.GetRoute().ID?"bisque":"inherit");">@g.Recipient1Name</td>
                    <td style="background-color: @(g.Recipient2ID==Model.GetRoute().ID?"bisque":"inherit");">@g.Recipient2Name</td>
                </tr>
                counter++;
            }
        </table>
    </div>
</div>