@model ChickenHunt.Website.Controllers.Hunter.Actions.Index.Model
@{
    ViewBag.Title = "Hunter";
}
<h1>@Model.Hunter.Name</h1>
<div class="row">
    <div class="col-md-6 col-sm-12">
        <h2>Served chickens</h2>
        <table class="table table-condensed table-hover">
            <tr>
@*                <th>#</th>*@
                <th>Date</th>
                <th style="text-align: center;">With</th>
                <th colspan="2" style="text-align: center;">For</th>
                <th style="text-align: right;">#</th>
            </tr>
            @{
                var d = DateTime.MinValue;
                var counter = 1;
            }
            @foreach (var g in Model.Games.Where(m => m.Maker1ID == Model.GetRoute().ID || m.Maker2ID == Model.GetRoute().ID))
            {
                if (d == DateTime.MinValue || d.Month != g.CreateDate.Month)
                {
                    counter = 1;
                    <tr>
                        <td colspan="6" style="background-color: gold; font-weight: bold;">@g.CreateDate.ToString("MMM, yyyy")
                            <span class="pull-right">@Model.Games.Count(m =>m.CreateDate.Year == g.CreateDate.Year && m.CreateDate.Month == g.CreateDate.Month && (m.Maker1ID == Model.GetRoute().ID || m.Maker2ID == Model.GetRoute().ID))</span>
                        </td>
                    </tr>
                }
                d = g.CreateDate;
                var makerName = g.Maker1ID==Model.GetRoute().ID?g.Maker2Name: g.Maker1Name;
                <tr>
@*                    <td>@counter.ToString("#,0")</td>*@
                    <td title="@g.CreateDate">@g.CreateDate.ToString("d, ddd")</td>
                    <td>@makerName</td>
                    <td>@g.Recipient1Name</td>
                    <td>@g.Recipient2Name</td>
                    <td style="text-align: right;">@g.ChickenCount</td>
                </tr>
                counter++;
            }
        </table>
    </div>
    <div class="col-md-6 col-sm-12">
        <h2>Received chickens</h2>
        <table class="table table-condensed table-hover">
            <tr>
@*                <th>#</th>*@
                <th>Date</th>
                <th colspan="2" style="text-align: center;">From</th>
                <th colspan="1" style="text-align: center;">With</th>
                <th style="text-align: right;">#</th>
            </tr>
            @{
                d = DateTime.MinValue;
                counter = 1;
            }
            @foreach (var g in Model.Games.Where(m => m.Recipient1ID == Model.GetRoute().ID || m.Recipient2ID == Model.GetRoute().ID))
            {
                if (d == DateTime.MinValue || d.Month != g.CreateDate.Month)
                {
                    <tr>
                        <td colspan="6" style="background-color: gold; font-weight: bold;">@g.CreateDate.ToString("MMM, yyyy")
                            <span class="pull-right">@Model.Games.Count(m => m.CreateDate.Year == g.CreateDate.Year && m.CreateDate.Month == g.CreateDate.Month && (m.Recipient1ID == Model.GetRoute().ID || m.Recipient2ID == Model.GetRoute().ID))</span>
                        </td>
                    </tr>
                }
                d = g.CreateDate;
                var recipientName = g.Recipient1ID == Model.GetRoute().ID ? g.Recipient2Name : g.Recipient1Name;
                <tr>
@*                    <td>@counter.ToString("#,0")</td>*@
                    <td title="@g.CreateDate">@g.CreateDate.ToString("d, ddd")</td>
                    <td>@g.Maker1Name</td>
                    <td>@g.Maker2Name</td>
                    <td>@recipientName</td>
                    <td style="text-align: right;">@g.ChickenCount</td>
                </tr>
                counter++;
            }
        </table>
    </div>
</div>